.app-info {
    padding: 30px 0 200px 0;
    background: url('/public/img/bg/main-bg.png') lightgray 50% / cover no-repeat;
}

.app-info__promo {
    text-align: center;
    padding: 111px 0 0 0;
}

.app-info__title {
    padding: 0;
    margin: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Merienda;
    font-size: 40px;
    font-weight: 700;
}

.app-info__divider {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.app-info__line {
    width: 60px;
    height: 1px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.app-info__subtitle {
    padding: 35px 0 0 0;
    color: #FFF;
    font-family: Merienda;
    font-size: 24px;
    font-weight: 700;
}

.app-info__text {
    padding: 20px 0 0 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Merienda;
    font-size: 24px;
    font-weight: 700;
}

.app-info__btn {
    width: 120px;
    height: 30px;
    text-decoration: none;
    margin: 18px auto 0 auto;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #FFF;
    background: rgba(196, 196, 196, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}