.about-text__descr {
    max-width: 350px;
}

.about-text__title {
    color: #000;
    font-family: Merienda;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.about-text__text {
    margin-top: 25px;
    color: #000;
    text-align: center;
    font-family: Merienda;
    font-size: 14px;
    font-weight: 400;
}

.about-text__text_40 {
    margin-top: 40px;
}