.divider {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__line {
        width: 60px;
        height: 1px;
        background: #000;
    }
    &__footer {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    &__line_white {
        width: 60px;
        height: 1px;
        background: #fff;
    }
}