@import './media.scss';
@import './variabales.scss';

@font-face {
    font-family: 'Merienda';
    font-display: swap;
    src: url('../fonts/Merienda-Medium.woff2') format('woff2'),
        url('../fonts/Merienda-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merienda';
    font-display: swap;
    src: url('../fonts/Merienda-Bold.woff2') format('woff2'),
        url('../fonts/Merienda-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

* {
    font-family: "Merienda", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}