.coffee-item-page {
    &__wrapper {
        padding: 70px 0 30px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 42px;
        img {
            width: 498px;
            max-height: 355px;
            object-fit: contain;
        }
    }
    &__descr {
        max-width: 420px;
    }
    &__title {
        color: #000;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
    &__divider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    &__line {
        width: 60px;
        height: 1px;
        background: #000;
    }
    &__country {
        margin-top: 26px;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
    &__text {
        margin-top: 16px;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
    &__price {
        color: #000;
        margin-top: 16px;
        font-size: 24px;
        font-weight: 400;
        span {
            font-size: 14px;
            font-weight: 700;
        }
    }
}
